section, header, article, nav {
    display:block;
}
* {
    padding:0;
    margin:0;
    border: 0;
}
body {
    height: 100%
}
.container-fluid,.g-center {
    height:100%
}
.g-center,.g-left,.g-right,.tool-bar .indicator {
    position:absolute;
    top:0
}
.g-left,.g-right {
    height:100%;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.g-left {
    left:0;
    width:260px;
    background-color: #313643;
}
.g-right {
    right:0;
    width:36%;
    border-left:1px solid rgba(0,0,0,.1)
}
.g-center {
    height: 100%;;
    left:260px;
    right:36%;
    overflow: auto;
}

.tasks {
    font-size:14px;
    line-height:36px;
    padding:0 17px
}

.task-li {
    display: block;
}

input.new-task {
    width: 96%;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #ddd;
    outline: 0;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    cursor: text;
}
